.medico-list-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f9fc;
  border-radius: 8px;
}

.medico-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.medico-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.medico-card h3 {
  color: #333;
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}

.medico-card p {
  color: #555;
  font-size: 0.9em;
  margin: 5px 0;
}

.medico-buttons {
  display: flex;
  gap: 10px;
}

.eliminar-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.horario-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.eliminar-btn:hover {
  background-color: #c0392b;
}

.horario-btn:hover {
  background-color: #2980b9;
}

.hola{
  color: #3498db;
}